{% extends 'base.html' %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
		<h4 class="header truncate center-align">Anuário de Pesquisa da UFRPE/UAST</h4>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Começe agora</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://www.ufrpe.br/sites/ww2.prppg.ufrpe.br/files/styles/panopoly_image_original/public/uast_10_anos_slide.png" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">flash_on</i></h2>
            <h5 class="center">Benefícios para o Doscente</h5>

            <p class="light">Se você não lembra quantos artigos/resumos fez, onde foram publicados e quem junto a você contribuiram para a evolução da ciência. Passe a organizar a sua produção cientifica, no Anuário de pesquisa da UAST.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">group</i></h2>
            <h5 class="center">Benefícios para o Discente</h5>

            <p class="light">Você poderá acompanhar tanto suas publicações quanto as publicações de seus seus orientados/estagiários.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">settings</i></h2>
            <h5 class="center">Benefícios para Universidade</h5>

            <p class="light">Organiza e centraliza toda a produção de ciência em um só lugar.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

 {% endblock content %} 