<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>{% block title %}Anuário de Pesquisa{% endblock title %}</title>
    </head>

    <body>

    {% block navbar %}
    {% endblock navbar %}

    {% block sidebar %}
    {% endblock sidebar %}

    {% block content %}
    {% endblock content %}


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Anuário de Pesquisa da UFRPE/UAST</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Mapa do Site</h5>
          <ul>
            <li><a class="white-text" href="#!">Início</a></li>
            <li><a class="white-text" href="#!">Pesquisas</a></li>
            <li><a class="white-text" href="#!">Pesquisadores</a></li>
            <li><a class="white-text" href="#!">Contato</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Conexões</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> Desenvolvido por <a class="brown-text text-lighten-3" href="http://tagi.com.br">tag.i</a>
      </div>
    </div>
  </footer>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  	  <script type="text/javascript">
  	  	
	  	  	$(function(){

			    $('.button-collapse').sideNav();
			    $('.parallax').parallax();

			}); // end of document ready

  	  </script>
    </body>
  </html>
